# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

#Student Emails
emails.csv

#config and secrets
AWSconfig.json
config.json
AWSconfigS3.json

.DS_Store

#folders
wav/
mp3/
data/
htmls/

*.jpeg
*.jpeg
*.png